<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>

<body class="text-center">

    <main class="form-signin">
        <form action="/login" method="post">
            <h1 class="h3 mb-3 fw-normal">Пожалуйста, войдите в свой аккаунт</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Логин" name="username">
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Пароль" name="password">
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Запомнить меня
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" value="Sign In">Войти</button> <br>
        </form>
        <br>
        <form action="/registration"><button class="w-100 btn btn-lg btn-primary" href="" value="Sign In">Зарегистрироваться</button></form>

        <p class="mb-1">Вы можете зарегистрироваться или войти под пробным аккаунтом asd@asd.com, пароль 100</p>
</main>

</body>
</html>
