<div th:fragment="footer">
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Наверх</a>
        </div>

        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <h5 class="my-0 mr-md-auto font-weight-normal ml-2">Blog</h5>

            <nav class="my-0 mr-md-0 mr-md-3">
                <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Блог</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/add">Добавить статью</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="/about">Про нас</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="/logout">Выйти</a>
            </nav>
        </div>
    </footer>
</div>